.card{
    display: flex;
    border: solid #002333 ;
    border-radius: 10px;
    margin-bottom: 5px;
}
.card img{
    width: 100px;
    height: 100px;
    align-self: center;
    margin-top: 15px;
    border: solid #DDAA33;
}

.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}