/* custom.scss */
$primary: #6f42c1;
$secondary: #6610f2;
$success: #DDAA33;
$info: #20c997;
$warning: #fd7e14;
$danger: #dc3545;
$light: #adb5bd;
$dark: #002333;
/* end custom.scss */

@import '~bootstrap/scss/bootstrap.scss'